html{
	font-size: 16px;
}

body{
	background: url(../img/wood.jpg);
	margin: 0;
	font-family: 'Arial', sans-serif;
	color: #909090;
}

h1, .h1{
	font-size: 1.5rem;
	margin: 0 0 1rem 0;
}

h2, .h2{
	font-size: 1.2rem;
	margin: 0.6rem 0;
}

p{
	margin: 0.5rem 0;
}

strong{
	font-weight: bold;
}

em{
	font-style: italic;
}

.wrapper{
	max-width: 1080px;
	margin: 50px auto;
	padding: 0 30px;
	background: #fff;
	box-shadow: inset 0 0 20px #ccc;
}

.header-top, .header-bottom{
	border-bottom: 1px solid #eeeeee;
}

.header-top{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.header-top .title{
	font-family: 'Times New Roman';
	text-transform: uppercase;
	font-size: 36px;
	float: left;
	padding: 20px 0;
	margin: 0;
	color: #bc8a59;
	font-weight: bold;
}

.header-top .title::before{
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 5px;
	background: url(../img/logo.png) no-repeat;
	background-size: 100%;
}

.header-logo{
	flex-grow: 0.5;
	margin-left: auto;
}

.header-menu{
	flex-grow: 0.5;
	text-align: right;
}

.header-menu-button{
	display: none;
}

.header-menu-list{
	font-size: 0;
}

.header-menu-list li{
	padding: 10px;
	margin: 0 5px;
	display: inline-block;
	font-size: 1rem;
}

.header-menu-list a{
	color: inherit;
	text-decoration: none;
}

.header-menu-list a:hover{
	color: #f2b77d;
}

.header-menu-list a.active{
	color: #8a6540;
}

.header-bottom{
	padding: 1.5rem 0;
	margin-bottom: 20px;
	line-height: 1.5rem;
}

.header-bottom a{
	text-decoration: none;
	color: #8c6641;
	font-weight: bold;
}

.layout-row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.layout-col{
	margin: 0 15px;
	box-sizing: border-box;
}

.layout-col-full{
	width: calc(100% - 30px);
}

.layout-col-main{
	width: calc(100% / 12 * 8 - 30px);
}

.layout-col-aside{
	width: calc(100% / 12 * 4 - 30px);
	color: #939393;
}

.content-wrapper{
	margin-top: 20px;
}

.post-card{
	width: calc(50% - 30px);
	margin-bottom: 30px;
	border: 1px solid rgba(184, 184, 184, 0.5);
	border-radius: 5px;
	padding: 3%;
}

.aside-box{
	margin-bottom: 1rem;
}

.tw-wrapper{
	position: relative;
}

.tw-inner{
	max-width: 85%;
}

.tw-inner::after{
	content: url(../img/twitter-bird.png);
	margin-left:  2%;
	width: 13%;
	max-width: 50px;
	position: absolute;
	bottom: -4px;
	right: 0;
}

.tw-text span{
	display: block;
	background: #f0f0f0;
	padding: 20px;
	border-radius: 5px;
}

.tw-text::after { 
	clear: both;
	float: right;
	display: block;
	content: "";
	margin-right: 20%;
	width: 0; 
	height: 0;
	border-top: 15px solid #f0f0f0;
	border-left: 10px solid transparent; 
}

.tw-follow{
	text-align: right;
	margin-top: 1.3rem;
}

.secondery-navigation li:first-child a{
	transition: display 2s;
	border-top: 1px solid #eee;
}

.secondery-navigation a{
	text-decoration: none;
	display: block;
	padding: 8px 5px;	
	border-bottom: 1px solid #eee;
	color: inherit;
}

.secondery-navigation a:hover{
	background: #f9f9f9;
	color: #333;
}

.contacts-list li{
	padding: 5px;	
}

.site-footer{
	border-top: 1px solid #eeeeee;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 0;
}

.site-footer-text{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.site-footer-links{
	margin: 0 -0.5rem;
}

.site-footer-links a{
	display: inline-block;
	text-decoration: none;
	color: inherit;
	margin: 0.5rem;
}

.site-footer-links a > *{
	display: inline-block;
	vertical-align: middle;
}

@media screen and (max-width: 900px){
	.wrapper{
		padding: 0 15px;
	}
}

@media screen and (max-width: 768px){
	.layout-col-main, .layout-col-aside{
		width: calc(100% - 30px);
	}
}

@media screen and (max-width: 576px){
	.post-card{
		width: calc(100% - 30px);
		text-align: center;
	}

	.header-top{	
		justify-content: space-between;
		position: relative;
	}
	
	.header-logo, .header-menu{
		width: auto;
		flex-grow: 0;
		margin: 0;
	}
	
	.header-menu-button{
		display: block;
		cursor: pointer;
	}

	.header-menu-list{
		display: none;
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		text-align: center;
		background: #fff;
		border: 1px solid #909090;
	}

	.header-menu-list li{
		display: block;
	}
}